{#
/**
 * @file
 * Default template for feed displays that use the ATOM style.
 *
 * Available variables:

 * - title: The title of the feed (as set in the view).
 * - subtitle: The feed description (from feed settings) (optional)
 * - langcode: The language encoding.
 * - link_alternate: A link to the source of the feed.
 * - link_related: A link to the description of the feeds.
 * - link_self: The link to the feed (the view path).
 * - updated_date: The updated date in this format: 2020-02-19T08:30:00-05:00
 * - author_name: Name of the feed author (optional)
 * - author_email: Email address of the feed author (optional)
 * - category: Category of the feed (optional)
 * - logo: Logo image of the feed (optional)
 * - favicon: Favicon url (optional)
 * - year: The current year.
 * - entries: The feed entries themselves.
 *
 * @see template_preprocess_views_view_atom()
 *
 * @ingroup themeable
 */
#}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
{% if subtitle is not empty %}
  <subtitle>{{ subtitle }}</subtitle>
{% endif %}
  <link rel="alternate" type="text/html" hreflang="{{ langcode }}" href="{{ link_alternate }}" />
{% if subtitle is not empty  %}
  <link rel="related" href="{{ link_related }}" hreflang="{{ langcode }}" />
{% endif %}
  <link rel="self" type="application/atom+xml" href="{{ link_self }}" />
  <id>{{ link_self }}</id>
  <updated>{{ updated_date }}</updated>
{% if author_name is not empty and author_email is not empty %}
  <author>
    <name>{{ author_name }}</name>
    <email>{{ author_email }}</email>
    <uri>/</uri>
  </author>
  <rights>Copyright {{ year }}, {{ author_name }}</rights>
{% endif %}
{% if category is not empty %}
  <category term="{{ category }}" />
{% endif %}
{% if logo is not empty %}
  <logo>{{ logo }}</logo>
{% endif %}
{% if icon is not empty %}
  <icon>{{ icon }}</icon>
{% endif %}
{{ entries }}
</feed>