{#
/**
 * @file
 * Default theme implementation to display an item in a views Atom feed.
 *
 * Available variables:
 * - title: Atom entry title.
 * - link: Atom entry link.
 * - date: Updated date of the entry.
 * - summary: Summary of the entry.
 * - author_name: Optional name of the author (optional)
 * - author_email: Optional email of the author (optional)
 * - content: Content of the entry (optional)
 *
 * @see template_preprocess_views_view_row_atom()
 *
 * @ingroup themeable
 */
#}
<entry>
  <title>{{ title }}</title>
  <link href="{{ link }}" />
  <id>{{ link }}</id>
  <updated>{{ date }}</updated>
  <summary type="xhtml">{% spaceless %}
    <div xmlns="http://www.w3.org/1999/xhtml">
      {{ summary | raw }}
    </div>
  {% endspaceless %}</summary>
  {% if author_name is defined or author_email is defined %}
    <author>
      {% if author_name is defined %}
        <name>{{ author_name }}</name>
      {% endif %}
      {% if author_email is defined %}
        <name>{{ author_email }}</name>
      {% endif %}
    </author>
  {% endif %}
  {% if content is defined %}
    <content type="xhtml">{% spaceless %}
      <div xmlns="http://www.w3.org/1999/xhtml">
        {{ content }}
      </div>
    {% endspaceless %}</content>
  {% endif %}
</entry>
